$primary : #f8bf46;

.home{
  background-color: black ;
  padding: 30px 10% 50px 10%;


  h5{
    font-size: 30px;
    font-weight: 400;
    color: #d4d4d4;
    text-align: center;
    padding: 50px 0px;
    position: relative;
    z-index: 4;

  }
}
.border_bottom{
  border-bottom: 3px solid #333333;
}



.home_text{
  font-size: 17px;
  line-height: 45px;
  color: #b1b1b1;
  font-weight: 300;
  position: relative;
  z-index: 3;


}

.fullHeightBox{
  min-height: 100vh;
  overflow: hidden;

}

.partners{
  margin-left: 15px;
  list-style: none;
  z-index: 4;
  position: relative;

  li{
    font-size: 17px;
    line-height: 40px;
    color: #b1b1b1;
    padding: 2px 20px;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.7);

    a{
      color: #b1b1b1;
    }

  }

}

.logo{

  text-align: center;
  margin: auto;
  img{
    height: 80px;
  }

}

.navLinks{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;

  a{
    font-size: 16px;
    cursor: pointer;
    color: #d4d4d4;
  }
}

.text-center{
  text-align: center;
}


.register_form{

  width: 70%;
  margin: auto;
  background-color: white;
  padding: 30px 40px;
  border-radius: 5px;
  input{

    width: 100%;
    height: 42px;
    line-height: 42px;

  }

}

.relative{
  position: relative;
}

.validation{
  position: absolute;
  font-size: 13px;
  color: salmon;
}

.countryCode{
  position: absolute;
  left: 10px;
  top: 12px;
}

.form_control{
  margin-bottom: 40px;

}

.phoneno{
  padding-left: 60px !important;
}

.orText{
  margin-bottom: 20px;
  margin-top: -10px;
}

.submit_btn, .submit_btn:focus, .submit_btn:hover{
  background-color: $primary;
  color: white;
  width: 250px;
  border:none;
  height: 42px;
  line-height: 42px;
}



.invite_register_form{

  width: 100%;
  margin: auto;
  background-color: white;
  padding: 30px 40px;
  border-radius: 5px;
  input{

    width: 100%;
    height: 42px;
    line-height: 42px;

  }

}


.invite_flex_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .form_control{
    width: 30%;
  }
}

.footer{
  background-color: black ;
  padding: 30px 10% 50px 10%;
  display: flex;
  align-items: center;

  img{
    height: 50px;
    margin-right: 20px;
  }
}


@media only screen and (max-width: 768px) {
  .home {
    background-color: black;
    padding: 30px 5% 50px 5%;

    h5{
      font-size: 20px;
      padding: 15px 0px;
    }

  }

  .navLinks {
   display: block;
    margin-top: 50px;

    a{
      display: block;
      margin-right: 30px;
      margin-bottom: 30px;
      font-size: 18px;
      padding-left: 20px;
      color: #313131;
    }
  }

  .home_text{
    font-size: 16px;
    line-height: 35px;
    position: relative;
    z-index: 3;
  }

  .partners{
    margin-left: 15px;
    list-style: none;

    li{
      font-size: 16px;
      line-height: 35px;
      color: #b1b1b1;

    }
  }
  .invite_flex_box{
    flex-wrap: wrap;

    .form_control{
      width: 100%;
    }


  }
  .logo img {
    height: 60px;
  }


}


.bg1{
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  top: 0;
  opacity: .7;
}

.bg2{
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  top: 0;
  opacity: .4;
}

.bg3{
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  top: 0;
  opacity: .4;
}

.bg5{
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  top: 0;
  opacity: .5;

}


.text_bg1{

  padding: 20px;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.6);

}

.no_overflow{
  overflow: hidden;
}


