@import '../../../styles/color';


@media only screen and (min-width: 769px) {

  .navbar-bottom-shadow {
    padding-bottom: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 2;
  }

  .top-header {
    padding: 7px 0;
  }

  .top-offer {
    padding: 5px 20px;
    background-color: $primary_teal;
    font-size: 11px;
    text-transform: uppercase;
    color: white;

  }

  .top-links {

    margin-left: auto;
    margin-top: -4px;

    a {
      margin-right: 30px;
      color: #404040;
      font-size: 11px;
      font-weight: 600;
    }
    a:last-child {
      margin-right: 0 !important;
    }

  }

  .main-header {
    align-items: center;
    margin-top: 5px;

    .logo {
      width: 10%;
      display: block;
      img {
        width: 100%;
      }

    }

    .main-links {
      margin-left: auto;

      a {
        margin-right: 30px;
        color: #404040;
        font-size: 15px;
        padding-bottom: 25px;
        border-bottom: 3px solid transparent;
      }
      a:last-child {
        margin-right: 0 !important;
      }
      a:hover {
        color: $accent;
        border-bottom: 3px solid $accent;
      }
    }

  }

  .active-nav-link {
    color: $accent !important;
    border-bottom: 3px solid $accent !important;
  }

  .search-div {
    width: 35%;
    margin-left: auto;

    div {
      position: relative;

      svg {
        position: absolute;
        left: 15px;
        top: 7px;
        pointer-events: none;
      }

      input {
        width: 100%;
        border-radius: 3px;
        padding-left: 50px;
        height: 42px;
      }

    }

  }

  .account-bag-div {

    margin-left: auto;
    width: 7%;

    a {
      display: inline-block;
      width: 30%;

      svg {

        width: 100%;

      }

    }

    a:first-child {
      margin-right: 40%;
    }

  }

  .category-list-flex {
    flex-direction: column;
    align-items: flex-start;
    height: 360px;
  }

  .onHover-categories-div {

    position: absolute;
    width: 80%;
    left: 10%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    top: 70px;
    padding: 20px 50px 30px 50px;
    box-sizing: border-box;
    background-color: white;
  }

  .category-links {

    list-style: none;
    li {
      margin-bottom: 5px;
    }
    li:last-child {
      margin-bottom: 15px;
    }

  }

  .catergory-parent-link {

    font-size: 16px;
    font-family: 'brandontext-medium', sans-serif;
    color: $accent;
    margin-bottom: 10px;
    display: inline-block;
  }

  .category-box {
    width: 15%;
    flex-grow: 1;

  }

  .category-image-men {
    width: 70%;
    display: flex;
    margin-left: auto;

    div {
      margin-left: auto;
      width: 27%;

      img {
        width: 100%;
      }
    }
  }

  .category-image-women {
    width: 30%;
    margin-left: auto;

    div {
      margin-left: auto;
      width: 100%;

      img {
        width: 100%;
      }
    }

    div:first-child {
      margin-bottom: 20px;

    }

    p {
      display: none;
    }
  }

}




@media only screen and (max-width: 1000px) {


  .main-links{

    a{
      margin-right: 20px !important;
      font-size: 13px !important;
    }


  }

  .search-div{
    width: 30% !important;
  }

  .top-links{

    a {
      font-size: 10px !important;
    }

  }


}
















